$main-hell: white;
$main-dark: black;
$accent-dark: #AAAAAA;
$accent-hell: #EEEEEE;



// :root {
//     --main-hell: white;
//     --main-dark: black;
//     --accent-dark: #AAAAAA;
//     --accent-hell: #EEEEEE;
// }