@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-SemiBold.ttf");
}

@font-face {
    font-family: "WorkSans";
    src: url("../fonts/WorkSans-VariableFont_wght.ttf");
}

$fontMain: "Inter";
$fontSecond: "WorkSans";