@font-face {
    font-family: 'WorkSans';
    src: url('../fonts/WorkSans-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-VariableFont_slnt\,wght.ttf');
}