@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Bold.ttf');
}

@font-face {
    font-family: 'WorkSans';
    src: url('../fonts/WorkSans-VariableFont_wght.ttf');
}

$fontHead: 'Inter';
$fontSub: 'WorkSans';