@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter/Inter-VariableFont_slnt\,wght.ttf");
}

@font-face {
    font-family: "WorkSans";
    src: url("../fonts/Work_Sans/WorkSans-VariableFont_wght.ttf");
}

$fontMain: "Inter";
$fontSecond: "WorkSans";