@keyframes movebanner {

    0% {
        transform: translateX(100%);
    }

    50% {
        transform: translateX(-10%);
    }

    100% {
        transform: translateX(100%);
    }
}

@keyframes rotate {

    0% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0);
    }
}