@mixin fontstyle($font, $fontSize, $color, $width) {
    font-family: $font;
    font-size: $fontSize;
    color: $color;
    max-width: $width;
}

@mixin flexRow {
    display: flex;
}

@mixin flexColumn {
    display: flex;
    flex-direction: column;
}

@mixin imgPositionAbsolute($top, $right, $bottom, $left, $width) {
    position: absolute;
    top: $top;
    right: $right;
    left: $left;
    bottom: $bottom;
    width: $width;
    height: auto;
}