// links
@use '_font' as font;

@use '_mixin' as mixi;

@use '_variables' as vari;

// global
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: font.$fontHead;
    text-decoration: none;
}

// header
header {
    padding: 0 5rem;

    div {
        width: 100%;
        height: 150px;
        display: flex;
        justify-content: center;
        span {
            width: .7px;
            height: 100%;
            background-color: white;
            display: block;
        }
    }
    
    @include mixi.headerStyle (1rem, white, black);
    height: 100vh;
    article {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h2 {
            font-size: 3rem;
        }
        h2:nth-of-type(2) {
            -webkit-text-stroke: 1px #fff;
            color: hsla(0,0%,100%,0)
        }
        p {
            font-size: .7rem;
        }
    }

    aside {
        height: 7vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 25%;
        button {
            border: .1rem solid white;
            background-color: black;
            padding: 1rem 2rem;
        }
        button:hover {
            background-color: rgba(100, 100, 100, 0.5);
        }
        a {
            color: white;
        }
    }
}

p, a {
    font-family: font.$fontSub;
    font-size: 1rem;
}

// main
// sec1

.sec1__story {
    @include mixi.sectionStyleDark (white, black);
    padding: 0 5rem;

    h1 {
        font-size: 5rem;
        padding-right: 17rem;
        padding-top: 10rem;
    }

    div {
        display: flex;
        align-items: flex-end;
        article {
            width: 50%;
        }
        figure img {
            width: 150%;
        }
        h2 {
            font-size: 4rem;
        }
        p {
            padding-top: 1rem;
        }
        h2:nth-of-type(3) {
            padding-bottom: 5rem;
        }
    }
}

// sec2

.sec2__action {
    position: relative;

    figure img {
        width: 20%;
        position: absolute;
    }

    h3 {
        font-size: 4rem;

    }
}





